@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

    
}
a:active{
    color: #ec5242;
}
a:hover{
    color: #ec5242;
}
ul {
    list-style: none;
}
.secondary-header{
    background-color: black;
    padding: 10px 0;
    display: none;
}
.secondary-header .secondary-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;

}
    
.top-nav-icon{
   margin-right: 50px;
 
}
.top-nav-icon a{
    color: #fff;
}
.top-nav-icon a:active{
    color: #ec5242;
}
.top-nav-icon a:hover{
    color: #ec5242;
}
.main-header{
    height: 0px;


}


.logo{
    display: flex;
    align-items: center;
    padding: 0 10%;
    visibility: hidden;
}
.logo img{
 height: 100px;
 width: auto;

}
.company-name{
    color: #272a31;
    font-family: 'Lato0',sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
}
.company-name:hover{
    color: #ec5242;
}
.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30px;
    left: 30px;
    padding-bottom: 5%;
 
 
  }
  .hide-menu{
      visibility: hidden;
  }
  .menu .bar {
    width: 40px;
    height: 3px;
    margin: 3px 0;
    background-color:  #272a31;
    cursor: pointer;
    visibility: visible;

  }
  

.open .line-1{
  transform: rotate(-45deg) translate(6px,6px);
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #fff;
  
}
.open .line-2{
    opacity: 0;
}
.open .line-3{
    transform: rotate(45deg) translate(6px,-6px);
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: #fff;
    
}
.menu-overlay{
 height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:  #272a31;
  opacity: 0.9;
  transition: 0.5s;
  z-index: 2;
 
}
.main-nav {
display: flex;
flex-direction: column;

}
.main-nav .meetup{
    border: 2px solid #ec5242;
    padding: 10px;
    color: #ec5242;
    font-family: "lato",Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.main-nav li{
    padding: 20px;


}

.main-nav .nav-link{
    color: #fff;
   font-family: 'lato', sans-serif;;
   font-size: 25px;
}
.main-nav .nav-link:hover{
    color: #ec5242;
}


.about-head-line{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/images/mobile-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.about-head-line .title-1{
    color: #ec5242;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin-top: 20%;
    margin-bottom: 5%;
   
}
.about-head-line .text-1{
    background-color: #fff;
    color: #272a31;
    font-family: "lato", sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 5%;
}
.about-head-line .text-2{
    color: #272a31;
    font-family: "lato", sans-serif;
    text-align: center;
    font-size: 15px;
    padding-top: 5%;
    padding-bottom: 2%;
}
.about-head-line  a{
    color: #272a31;
    font-family: "lato",Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
   
}

@media screen and (min-width:768px) {
    .secondary-header{
        display: block;
    }
    .main-header{
        height: 80px;
        border-bottom: 1px solid #eee;
        background: #fff;
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 1;
        
    }
    .main-nav{
        visibility: visible;
        flex-direction: row;
    }
    .main-header .logo{
      visibility:visible;
    }
    .head-line{
        min-height: 110vh;
        display: flex;
        flex-direction: column;
       justify-content: center;
       padding-left: 10%;
       padding-right: 20%;
        background-image: url(/assets/images/mobile-bg.png);
    
    
        
    
    }
    .bar{
        opacity: 0;
    }
    .main-nav .nav-link{
        color: #272a31;
        font-size: 18px ;
    
    }
    .main-nav .nav-link:hover{
        color: #ec5242;
    }
    .about-head-line{
        padding: 0 20%;
    }
 
  
    
}

